<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/nmtsong.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p class="byline">
      by <%= artist %>
    </p>

    <iframe
      width="560"
      height="315"
      src="<%= youTubeUrl %>"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    >
    </iframe>

    <p><%= reflection %></p>
    <h5 class="byline">
      <%- author  %>
    </h5>
    <h5 class="date">
      <%- date  %>
    </h5>
    <h5>notes</h5>
    <p>
      <%- notes %>
    </p>
  </body>
</html>
