<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>. <%= message %></p>
    <ol>
      <% for (var i = 0; i < data.length; i++) {  %>
        <li>
          <a href= <%= ('/at/song/' + data[i].id) %> >
            <%= data[i].fields["Song Title"] %> by <%= data[i].fields["Artist"] %>
          </a>. YouTube link <a href= <%= data[i].fields.YouTube_URL %> >here</a>
        </li>
      <%  } %>
    </ol>
    <pre><%- JSON.stringify(data, null, 4) %>
  </body>
</html>
