<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p class="byline">
      by <%= data.fields.Artist %>
    </p>
    <p><%= data.fields.Reflection %></p>
    <pre><%- JSON.stringify(data, null, 4) %>
    </pre>
  </body>
</html>
